@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

body {
  font-family: "Kumbh Sans", sans-serif;
}

@theme {
  --color-light-black: rgba(0, 0, 0, 0.75);
  --breakpoint-xmd: 830px;
}

.swiper-button-next,
.swiper-button-prev {
  color: black !important;
  padding: 28px;
  background: #fff;
  border-radius: 50%;
  font-size: 20px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 28px !important;
  font-weight: 900; /* arrow size */
}
